<main>
    <section class="top-screen">
        <div class="container-fluid">
            <app-header></app-header>
        </div>
        <section class="main-screen">
            <h3>Преврати свой дом в<br> живописный оазис</h3>
            <p class="desc">
                В нашем магазине ты найдешь растения<br> для любого типа помещения, с любым<br> освещением и уходом
            </p>
        </section>
    </section>
    <section class="catalog-container">
        <div class="catalog-row-1">
            <div class="catalog-page catalog-page-1" routerLink="/catalog">
                <span>Декоративно-лиственные</span>
            </div>
            <div class="catalog-row-wp">
                <div class="catalog-row-2">
                    <div class="catalog-page catalog-page-2" routerLink="/catalog"> 
                        <span>Суккуленты</span>

                    </div>
                    <div class="catalog-page catalog-page-3" routerLink="/catalog"> 
                        <span>Цитрусовые</span>
                    </div>
                </div>
                <div class="catalog-row-3">
                    <div class="catalog-page catalog-page-4" routerLink="/catalog"><span>Бонсай</span></div>
                    <div class="catalog-page catalog-page-5" routerLink="/catalog"><span>Драцены</span></div>
                </div>
            </div>
        </div>
        <div class="catalog-row-4">
            <div class="catalog-page catalog-page-6" routerLink="/catalog">
                <span>Грунт</span>
            </div>
            <div class="catalog-page catalog-page-7" routerLink="/catalog">
                <span>Горшки<br> Кашпо</span>
            </div>
        </div>
    </section>
    <section class="popular">
        <h3>Популярные растения</h3>
        <div class="popular-carousel owl-carousel owl-theme popular-carousel">
            <div class="item ">

                <div class="photo">
                    <img src="./img/product.svg" alt="">
                </div>
                <div class="title">Эхеверия Нюрнберга</div>
                <div class="desc-prod">⌀ 9 см / H 5 см</div>
                <div class="proce-prod">6,3 руб.<span>14 руб.</span></div>
                <div class="btns">
                    <button class="shop-btn" style="width: 65%;">В корзину</button>
                    <button class="like-btn filled">
                        <img class="unfilled" src="./img/like.svg">
                        <img class="filled" src="./img/like-filled.svg">
                    </button>
                </div>
            </div>
            <div class="item ">
                <div class="photo">
                    <img src="./img/product.svg" alt="">
                </div>
                <div class="title">Эхеверия Нюрнберга</div>
                <div class="desc-prod">⌀ 9 см / H 5 см</div>
                <div class="proce-prod">6,3 руб.<span>14 руб.</span></div>
                <div class="btns">
                    <button class="shop-btn" style="width: 65%;">В корзину</button>
                    <button class="like-btn">
                        <img class="unfilled" src="./img/like.svg">
                        <img class="filled" src="./img/like-filled.svg">
                    </button>
                </div>
            </div>
            <div class="item">

                <div class="photo">
                    <img src="./img/product.svg" alt="">
                </div>
                <div class="title">Эхеверия Нюрнберга</div>
                <div class="desc-prod">⌀ 9 см / H 5 см</div>
                <div class="proce-prod">6,3 руб.<span>14 руб.</span></div>
                <div class="btns">
                    <button class="shop-btn" style="width: 65%;">В корзину</button>
                    <button class="like-btn filled">
                        <img class="unfilled" src="./img/like.svg">
                        <img class="filled" src="./img/like-filled.svg">
                    </button>
                </div>
            </div>
            <div class="item " style="margin-right: 0px;">

                <div class="photo">
                    <img src="./img/product.svg" alt="">
                </div>
                <div class="title">Эхеверия Нюрнберга</div>
                <div class="desc-prod">⌀ 9 см / H 5 см</div>
                <div class="proce-prod">6,3 руб.<span>14 руб.</span></div>
                <div class="btns">
                    <button class="shop-btn" style="width: 65%;">В корзину</button>
                    <button class="like-btn filled">
                        <img class="unfilled" src="./img/like.svg">
                        <img class="filled" src="./img/like-filled.svg">
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="offer">
        <h3>Суперпредложение недели</h3>
        <div class="text-of">
            <div class="of-title">
                На все растения в белых кашпо<br> скидка 30%
            </div>
            <div class="of-dsc">
                Благодаря нейтральному<br>
                цвету кашпо, растения<br>
                подойдут для<br>
                декорирования любых<br>
                интерьеров и комнат.
            </div>
            <button class="of-shop-btn">Перейти в раздел</button>
        </div>
    </section>
    <section class="whywe">
        <h3>
            Почему выбирают нас
        </h3>
        <div class="wp-icon">
            <div class="icon-container no-pad">
                <img src="./img/ocon1.svg" alt="">
                <div class="wh-title">Только свежие растения</div>
                <div class="wh-desc">Мы гарантируем, что растения будут доставлены в здором состоянии, или мы заменим их бесплатно.</div>
            </div>
            <div class="icon-container">
                <img src="./img/ocon2.svg" alt="">
                <div class="wh-title">Только свежие растения</div>
                <div class="wh-desc">Мы гарантируем, что растения будут доставлены в здором состоянии, или мы заменим их бесплатно.</div>
            </div>
            <div class="icon-container">
                <img src="./img/ocon3.svg" alt="">
                <div class="wh-title">Только свежие растения</div>
                <div class="wh-desc">Мы гарантируем, что растения будут доставлены в здором состоянии, или мы заменим их бесплатно.</div>
            </div>
        
        </div>
    </section>
    <footer>
        <img class="logo-max" src="img/logo.svg">
        <img class="logo-min" src="./img/logo-min.svg" >
        <div class="mb-f">г. Минск, ул. Притыцкого, д. 29, ТРЦ "Тивали"</div>
        <div><a href="tel:+375443944343">+375 (44) 394-43-43</a></div>
        <div><a href="mailto:green.house@zakaz.by">green.house@zakaz.by</a></div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous"></script>
    <script>

        var owlOptions = {
            loop: true,
            margin: 10,
            nav: false,
            stagePadding: 75,
            responsive: {
                320: {
                    items: 1,
                    stagePadding: 0
                },
                580: {
                    item: 1,
                    stagePadding: 0
                },
                640: {
                    items: 2,
                    stagePadding: 0
                },
                900: {
                    items: 2
                },
                1240: {
                    items: 4
                },
            }
        };




        var owl = $('.owl-carousel');

        if ($(window).width() < 1560) {
            var owlActive = owl.owlCarousel(owlOptions);
        } else {
            owl.addClass('off');
        }

        $(window).resize(function () {
            if ($(window).width() < 1560) {
                if ($('.owl-carousel').hasClass('off')) {
                    var owlActive = owl.owlCarousel(owlOptions);
                    owl.removeClass('off');
                }
            } else {
                if (!$('.owl-carousel').hasClass('off')) {
                    owl.addClass('off').trigger('destroy.owl.carousel');
                    owl.find('.owl-stage-outer').children(':eq(0)').unwrap();
                }
            }
        });

        $('#menu-btn').click(e => {
            
        })


    </script>
</main>