<main>
    <div class="container-fluid">
        <app-header></app-header>
    </div>

    <section class="product-page">
        <div class="item">
            
            <div class="photo row-p">
                <div *ngIf="product?.sale" class="sale">
                    -{{product.sale}}%
                </div>
                <img *ngIf="product?.picture" [src]="product.picture" [alt]="product?.name">
                <img *ngIf="!product?.picture" src="./img/img-product.png" alt="img-product.png">
            </div>
            <div class="row-p">
                <div class="title">{{product?.name}}</div>
                <div class="desc-prod">⌀ 9 см / H 5 см</div>
                <div *ngIf="product?.sale" class="proce-prod">{{product?.price - (product?.price / 100 * product?.sale)}}<span>{{product?.price}}</span></div>
                <div *ngIf="!product?.sale" class="proce-prod">{{product?.price}}</div>
                
                <div *ngIf="user" class="btns">
                    <button *ngIf="cartProducts?.indexOf(product.id) == -1" class="shop-btn" (click)="addToCart(product.id)">В корзину</button>
                    <button *ngIf="!(cartProducts?.indexOf(product.id) == -1)" class="shop-btn" (click)="deleteFromCart(product.id)">Из корзины</button>

                    <button *ngIf="favoriteProducts?.indexOf(product.id) == -1" class="like-btn" (click)="addToFavorite(product.id)">
                        <img class="unfilled" src="./img/like.svg">
                        <img class="filled" src="./img/like-filled.svg">
                    </button>
                    <button *ngIf="!(favoriteProducts?.indexOf(product.id) == -1)" class="like-btn filled" (click)="deleteFromFavorite(product.id)">
                        <img class="unfilled" src="./img/like.svg">
                        <img class="filled" src="./img/like-filled.svg">
                    </button>
                </div>

                <div *ngIf="!user"  class="btns">
                    <button class="shop-btn" (click)="regAuth()">В корзину</button>

                    <button class="like-btn" (click)="regAuth()">
                        <img class="unfilled" src="./img/like.svg">
                        <img class="filled" src="./img/like-filled.svg">
                    </button>
                
                </div>
                <div class="params">
                    <div class="param" *ngFor="let param of params">
                        <div class="radius">
                            <div class="elips">
                                <div *ngIf="param.name == 'sun'" class="pic1"></div>
                                <div *ngIf="param.name == 'temperature'" class="pic2"></div>
                                <div *ngIf="param.name == 'water'" class="pic3"></div>
                            </div>
                        </div>
                        <div *ngIf="param?.text" class="text">{{param.text}}</div>
                        <div *ngIf="!param?.text" class="text">
                            Подходит яркое освещение,<br>
                            лучше - южные подоконники.
                         </div>
                    </div>
                    
                </div>
            </div>
            

            <div class="description" *ngFor="let description of descriptions">
                <div class="head">
                    {{description.heading}}
                </div>
                <div class="text">
                    {{description.text}}
                </div>
            </div>

        </div>
    </section>

    <section class="popular">
        <h3>Рекомендуем для совместного использования</h3>
        <div class="popular-carousel owl-carousel owl-theme popular-carousel">

            <div class="item">

                <div class="photo">
                    <img src="./img/product.svg" alt="">
                </div>
                <div class="title">Эхеверия Нюрнберга</div>
                <div class="desc-prod">⌀ 9 см / H 5 см</div>
                <div class="proce-prod">6,3 руб.<span>14 руб.</span></div>
                <div class="btns">
                    <button class="shop-btn">В корзину</button>
                    <button class="like-btn">
                        <img class="unfilled" src="./img/like.svg">
                        <img class="filled" src="./img/like-filled.svg">
                    </button>
                </div>
            </div>
            <div class="item ">

                <div class="photo">
                    <img src="./img/product.svg" alt="">
                </div>
                <div class="title">Эхеверия Нюрнберга</div>
                <div class="desc-prod">⌀ 9 см / H 5 см</div>
                <div class="proce-prod">6,3 руб.<span>14 руб.</span></div>

                <div class="btns">
                    <button class="shop-btn">В корзину</button>
                    <button class="like-btn filled">
                        <img class="unfilled" src="./img/like.svg">
                        <img class="filled" src="./img/like-filled.svg">
                    </button>
                </div>

            </div>
            <div class="item ">
                <div class="photo">
                    <img src="./img/product.svg" alt="">
                </div>
                <div class="title">Эхеверия Нюрнберга</div>
                <div class="desc-prod">⌀ 9 см / H 5 см</div>
                <div class="proce-prod">6,3 руб.<span>14 руб.</span></div>
                <div class="btns">
                    <button class="shop-btn">В корзину</button>
                    <button class="like-btn">
                        <img class="unfilled" src="./img/like.svg">
                        <img class="filled" src="./img/like-filled.svg">
                    </button>
                </div>
            </div>
            <div class="item">
                <!-- <div class="sale">
                    -45%
                </div> -->
                <div class="photo">
                    <img src="./img/product.svg" alt="">
                </div>
                <div class="title">Эхеверия Нюрнберга</div>
                <div class="desc-prod">⌀ 9 см / H 5 см</div>
                <div class="proce-prod">6,3 руб.<span>14 руб.</span></div>
                <div class="btns">
                    <button class="shop-btn">В корзину</button>
                    <button class="like-btn filled">
                        <img class="unfilled" src="./img/like.svg">
                        <img class="filled" src="./img/like-filled.svg">
                    </button>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <img class="logo-max" src="img/logo.svg">
        <img class="logo-min" src="./img/logo-min.svg" >
        <div class="mb-f">г. Минск, ул. Притыцкого, д. 29, ТРЦ "Тивали"</div>
        <div><a href="tel:+375443944343">+375 (44) 394-43-43</a></div>
        <div><a href="mailto:green.house@zakaz.by">green.house@zakaz.by</a></div>

        <div class="footer-pic"></div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous"></script>
</main>