table {
    width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.align {
  text-align: center;
}
.width{
  width: 100%;
}
.padding{
  padding-left: 0px !important;
}
td, th {
    width: 25%;
    padding-right: 8px !important;
}
.padding-right {
    padding-right: 24px !important;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}